@font-face {
    font-family: 'PingFang';
    src: url('PingFangSC-Bold.woff2') format('woff2'),
        url('PingFangSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
